body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.polymorph{
    fill: #9E9AF5;
}

#cta, #cta2{
    position: absolute;
    margin: 10em auto 0 auto;
    left: 0;
    right: 0;
    width: 30%;
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 15px;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    outline: 0;
}
p{
    font-size: 1.2em;
}
#cta2{
    width: auto;
    margin: 30px auto;
    background:#9E9AF5;
}

#blip{
    position: absolute;
    color: #9E9AF5;
    right: 25%;
    top: 0;
    opacity: 0;
    width: 30%;
    transform: translateY(50px);
}