*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
h1#logo{
    width: 269px;
    height: 95px;
    background: url('img/Google.png') top left no-repeat;
    background-size: 100%;
    margin: 0 auto;

}

.container{
    padding-top: 100px;
    width: 580px;
    margin: 0 auto;
    text-align: center;
}

input[type="text"]{
    width: 580px;
    height: 20px;
    padding: 7px;
    margin-bottom: 30px;
}

input[type="text"]:hover{
    border-color: #aaa;
}

input[type="submit"]{
    background: #eee;
    color:#333;
    border: solid 1px #ddd;
    padding: 5px;
    font-size: 16px;
    font-family: 'Roboto', 'Open Sans', sans-serif;

}
input[type="submit"]:hover{
 cursor: pointer;
}

small{
    display: block;
    margin: 10px 0 0 0;
    font-size: 12px;
}
a:link{
    color: darkblue;

}
a:visited{
    color: darkblue;
}
nav.Header-nav{
    text-align: right;
    padding-top: 10px;
}
nav.Header-nav ul li {
    display: inline;
    margin-right: 10px;
}

